{% extends 'base.html.twig' %}

{% block title 'Modifier le mot de passe' %}

{% block body %}
    <div class="mt-5 container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 class="my-5 text-center">Modifier mon mot de passe</h1>
                {{form_start(form)}}
                    {{form_row(form.plainPassword.first)}}
                    {{form_row(form.plainPassword.second)}}
                    <input class="btn btn-primary btn-block" type="submit" value="Modifier">
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}