{% extends "base.html.twig" %}

{% block title 'S\'inscire' %}

{% block body %}
    <div class="mt-5 container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                {{include('layouts/partials/_form_register.html.twig')}}
            </div>
        </div>
    </div>
{% endblock %}