{% extends 'base.html.twig' %}

{% block title %}Hello CommandsController!{% endblock %}

{% block body %}
    <h1>Commande</h1>

    {#{% for item in items %}
        <p>{{item.product}}</p>
        <p>{{item.quantity}}</p>
    {% endfor %}#}
{% endblock %}
