{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
                        
        {{include('layouts/partials/_form_comments.html.twig')}}
    {% else %}
        <a href="{{path('app_login')}}" class="btn btn-link">Connectez vous pour commenter</a>
    {% endif %}
{% endblock %}
