@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import 'shared/variables';

@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Montserrat', sans-serif;
}

.alert
{
    margin-top: 55px;
    text-align: center;
}

/*.alert-success
{
    background-color: green;
}

.alert-error
{
    background-color: red;
}

.alert-info
{
    background-color: blue;
}*/

/*.vich-image .form-check{
    @extend .mt-3;
}

.vich-image img{
    @extend .mb-2, .rounded, .shadow, .img-thumbnail;
}*/

.article img:hover
{
    transition: transform 0.3s ease-out;
    transform: scale(1.075);  
}