.alert
{
    padding: 220px;
    color: white;
    text-align: center;
}

.alert-success
{
    background-color: green;
}

.alert-error
{
    background-color: red;
}

.alert-info
{
    background-color: blue;
}