::before, ::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#myCarousel
{
    margin-bottom: 100px;
}

.carousel-image
{
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.carousel-inner
{
    height: 680px;
}

.carousel-item > img
{
    height: 52rem;
}

.carousel-caption
{
    position: absolute;
    top: 40%;
    background-color: rgba(48, 47, 53, .63);
}

.carousel-title
{
    position: relative;
}

.container-btn
{
    position: relative;
}

.btn-carousel
{
    outline: none;
    background: transparent;
    border: 1px solid #f1f1f1;
    cursor: pointer;
}

.btn-carousel:hover
{
    transition: all 0.3s ease-in-out;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    color: #333;
}

.lignes
{
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 2;
}

.l1
{
    width: 250px;
    height: 3px;
    background:  #f1f1f1;
    border-radius: 5px;
}

.l2
{
    width: 140px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
}

.container-featurette:nth-child(3)
{
    display: flex;
    flex-direction: row-reverse;

}

.reveal [class*="reveal-"]
{
    opacity: 0;
    transform: translateY(30px);
}

.reveal-visible [class*="reveal-"]
{
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.reveal-visible .reveal-2
{
    transition-delay: .1s;
}

.reveal-visible .reveal-3
{
    transition-delay: .2s;
}
