{% for type, messages in app.flashes(['success', 'danger', 'info']) %}
    {% for message in messages %}
        <div class="mb-5 alert alert-{{type}} text-center" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
