@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import 'shared/variables';

@import "~bootstrap/scss/bootstrap";

body {
    font-family: $primary-font, sans-serif;
}

.alert
{
    padding: 10px;
    color: white;
    text-align: center;

    
    &.alert-success
    {
        background-color: green;
    }

    &.alert-error
    {
        background-color: red;
    }

    &.alert-info
    {
        background-color: blue;
    }
}
