{% extends 'base.html.twig' %}

{% block title 'Nouveau produit' %}
{% block body %}
    <div class="mt-5 container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 class="my-5 text-center">Nouveau produit</h1>
                {{include('layouts/partials/_form_create.html.twig', {submitButtonText: 'Créer le produit'})}}
            </div>
        </div>
    </div>
{% endblock %}
