{% extends 'base.html.twig' %}

{% block title %}Administration!{% endblock %}

{% block body %}
    <h1 class="mt-5">Administration</h1>
    <a href="{{path('app_users')}}">Liste des utilisateurs</a>
{% endblock %}
