{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1 class="mt-5">Liste des utilisateurs</h1>

    <table>
        <thead>
            <th>Id</th>
            <th>Email</th>
            <th>Rôle</th>
            <th>Articles</th>
            <th>Modifier</th>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.email}}</td>
                    <td></td>
                    <td>{{user.articles|length}}</td>
                    <td></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan=5>Il n'y a pas d'utilisateurs inscrit</td>                
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}