{% extends 'base.html.twig' %}

{% block title 'Nouvel article' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 class="mt-5 px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">Contact</h1>
                {{include('layouts/partials/_form_contact.html.twig')}}
            </div>
        </div>
    </div>
{% endblock %}
