{% extends 'base.html.twig' %}

{% block title 'Nouvel article' %}
{% block body %}
    <div class="mt-5 container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 class="my-5 text-center">Nouvel article</h1>
                {{include('layouts/partials/_form_create.html.twig')}}
            </div>
        </div>
    </div>
{% endblock %}

