{% extends 'base.html.twig' %}

{% block title 'Modifier l\'article #' ~ article.id %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 class="mt-5 px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">Modifier l'article # ~ {{article.id}}</h1>

                {{include('layouts/partials/_form_edit.html.twig', {submitButtonText: 'Modifier'})}}
            </div>
        </div>
    </div>
{% endblock %}
