<div class="mt-5 container">
    <div class="row">
        <h1 class="mt-5">Salut! Veuillez confirmer votre mail</h1>

        <p>
            Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant: <br><br>
            <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
            Ce lien expire dans {{ expiresAt|date('g') }} heure(s).
        </p>

        <p>
            Merci!
        </p>   
    </div>
</div>

