<div class="mt-5 container">
    <div class="row">
        <h1 class="mt-5 px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">Nouveau contact</h1>
        <p>Nom: {{contact.lastName}}</p>
        <p>Prénom: {{contact.firstName}}</p>
        <p>Email: {{contact.email}}</p>
        <p>Message: {{contact.message}}</p>
    </div>
</div>
